.questionSection {
  .cardContainer {
    h1 {
      margin-bottom: 10px;
    }

    h5 {
      margin: 20px 0 20px 0;
    }

    .whiteBtn {
      margin: 5px 0 5px 0;
    }

    .progress {
      height: 0.25rem;
      background-color: transparent;
    }

    .footer {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .footerPoints {
        color: #F8BE00;
      }
    }
  }
}