.resultSection {
  .cardContainer {
    .winnerTitle {
      font-size: 2em;
      font-weight: bold;
    }

    .winnerSubtitle {
      font-size: 3em;
      font-weight: bold;
      color: lightgreen;
    }

    .totalTitle {
      font-size: 32px;
      font-weight: bold;
      margin-top: auto;
    }

    .totalPoints {
      color: #F8BE00;

      .pointsDesc {
        font-size: 14px;
      }
    }

    .footer {
      width: 100%;
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      font-size: 1.25rem;

      .footerPoints {
        color: #F8BE00;
      }
    }
  }
}