.App {
  height: 100vh;
  background-image: url('./assets/background.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position-x: center;
  color: white;

  .appHeader {
    display: flex;
    padding: 10px 30px 10px 30px;
    align-items: center;
    justify-content: space-between;

    .appNav {
      padding-top: 17px;
      text-align: end;
    }
  }
}
